<div id="<%= dom_id filme %>">
  <p>
    <strong>Titulo:</strong>
    <%= filme.Titulo %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= filme.Autor %>
  </p>

  <p>
    <strong>Nota:</strong>
    <%= filme.Nota %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= filme.Descricao %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= filme.text %>
  </p>

</div>
