<div id="<%= dom_id livro %>">
  <p>
    <strong>Título:</strong>
    <%= livro.Título %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= livro.Autor %>
  </p>

  <p>
    <strong>Nota:</strong>
    <%= livro.Nota %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= livro.Descricao %>
  </p>

</div>
